h1 {
	text-align:  center;
	font-family: a_RussDecor,sans-serif;
	color: #034022;
	text-shadow: 1px 1px 2px yellow, 0 0 1em #00ff00;
    font-size: 58px
 }
.text {
  	font-family: Kramola,sans-serif;
	color: #034022;
	text-shadow: 0 0 1em #00ff00;
    font-size: 25px
 }
h2 {
   	font-family: a_RussDecor,sans-serif;
 	color: #034022;
	text-shadow: 1px 1px 2px yellow, 0 0 1em #00ff00;
 	font-size: 43px
 }
hr {
    border: none; 
    background-color: #034022; 
    height: 2px; 
 }
h3 {
  	text-align:  center;
   	font-family: a_RussDecor,sans-serif;
 	color: #034022;
	text-shadow: 1px 1px 2px yellow, 0 0 1em #00ff00;
 	font-size: 32px
 }
.text2 {
 	text-align:  center;
  	font-family: a_RussDecor,sans-serif;
	color: #034022;
	text-shadow: 1px 1px 2px yellow, 0 0 1em #00ff00;
    font-size: 35px
 }
a {
    color: #034022;
 }
 body{
    background: url("vegan.jpg") no-repeat center center fixed;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
 }